<!DOCTYPE html>
<html lang="de">

<head th:replace="fragments.html :: head(${title})"></head>

<body>
<nav th:replace="fragments.html :: mainNav"></nav>

<main class="container">
  <div class="row">
    <div class="col">
      <h1>Login</h1>
      <form method="post" action="/sess/login">
        <input type="text" class="form-control" name="email" placeholder="E-Mail">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <button class="btn btn-success">Einloggen</button>
      </form>
    </div>
  </div>
</main>

<th:block th:replace="fragments.html :: foot"></th:block>
</body>
</html>