<!DOCTYPE html>
<html lang="de">

    <head th:replace="fragments.html :: head(${title})"></head>

    <body>
        <nav th:replace="fragments.html :: mainNav"></nav>

        <main th:replace="fragments.html :: main3Col('Text1', 'Text2', 'Text3')"></main>

        <aside>
            <ul>
                <li th:each="n : ${namen}" th:text="${n}"></li>
            </ul>

            <div th:each="p : ${produkte}" class="card" style="width: 18rem;">
                <div class="card-body">
                    <!-- ${xyz} Variable -->
                    <h5 class="card-title" th:text="${p.name}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${p.price}"></h6>
                    <p class="card-text">Lorem ipsum dolor sit amet.</p>
                    <!-- #{xyz} Platzhalter für Mehrsprachigkeit -->
                    <a href="#" class="card-link" th:utext="#{btn.buy}"></a>
                </div>
            </div>

        </aside>

        <th:block th:replace="fragments.html :: foot"></th:block>
    </body>
</html>